/* LISTA DE TÍTULOS */
.titles-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* CADA ITEM */
.title-item {
    background: #111;
    border-left: 5px solid gold;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

/* HOVER SUAVE */
.title-item:hover {
    transform: translateX(5px);
    background: #1a1a1a;
}

/* TÍTULO */
.title-item h3 {
    margin: 0;
    color: gold;
}

/* TEXTO */
.title-item p {
    margin: 5px 0;
    font-size: 18px;
}
/* BANNER DOS TÍTULOS */
.titles-banner {
    height: 200px;
    background: url('images/banner.jpg') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titles-banner h2 {
    background: rgba(0,0,0,0.7);
    padding: 10px 20px;
    border-radius: 10px;
}

/* DESTAQUE */
.title-highlight {
    background: #111;
    border-left: 5px solid gold;
    padding: 20px;
    margin-bottom: 30px;
}

/* GRID */
.titles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* CARDS */
.title-card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.title-card:hover {
    transform: scale(1.05);
    border: 1px solid gold;
}

/* NÚMERO GRANDE */
.number {
    font-size: 40px;
    color: gold;
    margin: 10px 0;
}

/* ANO */
.title-card span {
    color: #aaa;
}
/* ANO */
.title-item span {
    color: #aaa;
    font-size: 14px;
}
