/* LISTA DE TÍTULOS */
.titles-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* CADA ITEM */
.title-item {
    background: #111;
    border-left: 5px solid gold;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

/* HOVER SUAVE */
.title-item:hover {
    transform: translateX(5px);
    background: #1a1a1a;
}

/* TÍTULO */
.title-item h3 {
    margin: 0;
    color: gold;
}

/* TEXTO */
.title-item p {
    margin: 5px 0;
    font-size: 18px;
}

/* ANO */
.title-item span {
    color: #aaa;
    font-size: 14px;
}
